.App {
  background-color: beige;
  
}

.MainZone {
  border: 5px solid rgb(0, 0, 0);
  width: 500px;
  height: 500px;
}

.PlayerIcon {
  border: 2px solid rgb(0, 0, 0);
  background-color: red;
  width: 10px;
  height: 10px
}